<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">
<head>
<title>Đăng nhập</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link th:href="@{CSS/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
<link th:href="@{CSS/css/slider.css}" rel="stylesheet" type="text/css" media="all"/>
<link th:href="@{CSS/styles.css}" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script type="text/javascript" th:src="@{JS/js/jquery-1.7.2.min.js}"></script> 
<script type="text/javascript" th:src="@{JS/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{js/easing.js}"></script>
<script type="text/javascript" th:src="@{JS/js/startstop-slider.js}"></script>
<script type="text/javascript" th:src="@{JS/home.js}"></script>
<script type="text/javascript" th:src="@{JS/login.js}"></script>
</head>
<body>
  <div class="wrap">
	<div class="header">
		<div class="headertop_desc">
			<div class="call">
				 <p><span>Cần hỗ trợ?</span> hãy gọi chúng tôi <span class="number">0815-954-557</span></p>
			</div>
			<div class="account_desc">
				<ul style="font-size: 150%;">
					<li><a id="btnSignUp">Đăng ký</a></li>
					<li><a class="actived" id="btnLogin">Đăng nhập</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li><a th:href="@{/home}">TRANG CHỦ</a></li>
			    	<li><a th:href="@{/about}">GIỚI THIỆU</a></li>
			    	<li><a th:href="@{/delivery}">VẬN CHUYỂN</a></li>
			    	<li><a th:href="@{/news}">TIN TỨC</a></li>
			    	<li><a th:href="@{/contact}">LIÊN HỆ</a></li>
			    
     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<form th:action="@{/searchProduct}">
	     			<input name="productName" type="text" value="Tìm sản phẩm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
	     			<input type="submit" value="">
	     		</form>
	     	</div>
	     	<div class="clear"></div>
	     </div>	     
	</div>
	
	<!-- Login form -->
	<div id="container-bg" class="container">
		<div id="row-login" class="row" style="color: white;">
			<div class="col-md-6" style="text-align: center; margin-top: 100px; margin-bottom: 100px;">
				<form name='login-form' th:action="@{/j_spring_security_login}" method="post">
				    <div class="form-group">
				      <label for="email">Tên tài khoản:</label>
				      <input type="text" class="form-control" id="email" placeholder="nhập tài khoản" name="username">
				    </div>
				    <div class="form-group">
				      <label for="pwd">Mật khẩu:</label>
				      <input type="password" class="form-control" id="pwd" placeholder="nhập mật khẩu" name="password">
				    </div>
				    <div class="form-group form-check">
				      <label class="form-check-label">
				        <input class="form-check-input" type="checkbox" name="remember-me"> Nhớ mật khẩu
				      </label>
				    </div>
				    <button type="submit" class="btn btn-primary">Đăng nhập</button>
				    
				     <!-- Phòng chống hacker mượn quyền trái phép. -->
				    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" /> 
				  </form>
				  
			</div>
			<div class="col-md-6" style="text-align: center; margin-top: 20px; margin-top: 100px; margin-bottom: 100px;">
				<button class="loginBtn loginBtn--facebook" style="margin-top: 20px;">
				  Đăng nhập với facebook
				</button>
				<br>
				<button class="loginBtn loginBtn--google" style="margin-top: 20px;">
				  Đăng nhập với Google
				</button>
				<div style="margin-top: 20px;">
					<p style="font-size: 120%;">Bạn chưa có tài khoản?</p> 
					<span>Vui lòng click vào nút  ĐĂNG KÝ  bên trên để tạo tài khoản miễn phí nhé !</span>
				</div>
			</div>
		</div>
		<div id="row-signup" class="row" style="color: white; display: none;">
			<div id="form_signUp" class="col-md-6" style="text-align: center; margin-top: 20px; margin-bottom: 100px;">
				<form id="formSU">
					<h3>Đăng Ký Ngay</h3>
					<div class="form-group">
				      <label for="username">Tên tài khoản:</label>
				      <input type="text" class="form-control" id="username" placeholder="nhập tài khoản" name="username">
				    </div>
				    <div class="form-group">
				      <label for="pwd">Mật khẩu:</label>
				      <input type="password" class="form-control" id="pass" placeholder="nhập mật khẩu">
				    </div>
				    <div class="form-group" >
				      <label for="pwd">Nhập lại mật khẩu:</label>
				      <input type="password" class="form-control" id="rePass" placeholder="nhập lại mật khẩu" name="pass">
				    </div>
				    <div class="form-group">
				      <label for="address">Địa chỉ:</label>
				      <input type="text" class="form-control" id="address" placeholder="nhập địa chỉ" name="address">
				    </div>
				   <div class="form-group">
					      <label>Giới tính:</label>
					      <label>Nam</label>
					      <input type="radio" id="gender" name="gender" th:value="Nam">
					      <label>Nữ</label>
					      <input type="radio" id="gender" name="gender" th:value="Nữ">
					</div>
				    <div class="form-group">
				      <label for="phone">Số điện thoại:</label>
				      <input type="text" class="form-control" id="phone" placeholder="nhập sđt" name="phone">
				    </div>
				     <div class="form-group">
				      <label for="email">Email:</label>
				      <input type="email" class="form-control" id="email" placeholder="nhập email" name="email">
				    </div>
				    <button  id="btnDoSignUp" type="button" class="btn btn-primary">ĐĂNG KÝ</button>
				  </form>
				 
			</div>
			<div class="col-md-6" style="text-align: center; margin-top: 20px; margin-top: 300px; margin-bottom: 100px;">
				<button class="loginBtn loginBtn--facebook" style="margin-top: 20px;">
				  Đăng nhập với facebook
				</button>
				<br>
				<button class="loginBtn loginBtn--google" style="margin-top: 20px;">
				  Đăng nhập với Google
				</button>
			</div>
		</div>
	</div>
	<!-- end login form -->

   <div style="background-color: black; color: white; text-align: center;" class="footer">
   	  <div class="container-fluid">	
	     <div class="section group">
				<div class="col_1_of_3 span_1_of_3">
						<h4>THÔNG TIN SHOP</h4>
						<p>Pineapple Shop là một thương hiệu thời trang đầy uy tín, luôn đảm bảo chất 
						lượng sản phẩm tốt nhất cho khách hàng</p>
					</div>
				<div class="col_1_of_3 span_1_of_3">
					<h4>LIÊN HỆ</h4>
						<p>Địa chỉ: 113 phường Minh Khai, quận Bắc Từ Liêm, tp.Hà Nội</p>
						<p>SĐT: 0815954557</p>
						<p>Email: tungphongdo89@gmail.com</p>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<h4>LIÊN HỆ KHÁC</h4>
						<ul>
							<li><span>0815-921-220</span></li>
							<li><span>+00-123-000000</span></li>
						</ul>
						<div class="social-icons">
							<h4>Theo dõi chúng tôi</h4>
					   		  <ul>
							      <li><a href="#" target="_blank"><img src="images/facebook.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="images/twitter.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="images/skype.png" alt="" /> </a></li>
							      <li><a href="#" target="_blank"> <img src="images/dribbble.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"> <img src="images/linkedin.png" alt="" /></a></li>
							      
						     </ul>
   	 					</div>
				</div>
			</div>			
        </div>
      </div>
    </div>
    <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>

